/sites/all/themes/voxis/blog-category.html
/sites/all/themes/voxis/blog-search.html
/sites/all/themes/voxis/contact.html
/sites/all/themes/voxis/homepage-blog.html
/sites/all/themes/voxis/index.html
/sites/all/themes/voxis/index-2.html
/sites/all/themes/voxis/shortcodes-buttons.html
/sites/all/themes/voxis/shortcodes-tabs.html
/sites/all/themes/voxis/shortcodes-texts.html
/sites/all/themes/voxis/404.html
/sites/all/themes/voxis/blog.html
/sites/all/themes/voxis/blog-author.html
